@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

@media( max-width: 375px ) {
  .App {
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: #130525;
  }

  .App-image {
    max-width: 100%;
    max-height: 64vh;
    position: absolute;
    top: 0;
    left: 0;
  }

  .App-background-img {
    height: 386px;
  }

  .App-background-effect {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .App-container {
    min-width: 100%;
    min-height: 100%;
  }

  .App-content {
    width: 83%;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FAF5FF;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-align: center;
    padding-bottom: 60px;
  }

  .App-title {
    font-size: 24px;
    line-height: 32px;
    margin-top: 20px;
  }

  .App-subtitle {
    font-size: 12px;
    line-height: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .App-label {
    text-align: left;
    text-indent: 30px;
  }

  .App-input {
    width: 80%;
  }

  .App-submit {
    width: 168px;
    position: absolute;
    bottom: -24px;
    left: 73px;
    box-shadow: none;
  }

  .App-info {
    position: absolute;
    bottom: -124px;
    left: 50px; 
    color: #ffffff !important;
  }

  .App-link {
    color: #ffffff;
  }
}